body {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1200px) {
  body {
    background-image: url("../assets/bg_small.jpg");
  }
}

#reels {
  display: flex;
  width: 100vw;
  height: calc((3 / 5) * 100vw);
  max-height: calc(90vh - 50px - 40px);
  max-width: calc((5 / 3) * (90vh - 50px - 40px));
  transform: translateZ(0);
}

.reel {
  overflow: hidden;
  width: 20%;
  height: 100%;
  position: relative;
}

.reel > .icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.reel-symbol {
  display: block;
  width: calc(100% + 6px);
  margin-left: -3px;
  object-fit: contain;
  transform: translateZ(0);
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  backface-visibility: hidden;
}

#controls {
  background-color: rgba(255, 255, 255, 0.9);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

#controls label {
  display: flex;
  align-items: center;
  margin: 0;
}

#controls label input {
  margin-right: 5px;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

#jackpot {
  color: #d5ad6d;
  font-size: 40px;
  text-align: center;
}

#slot.inverted .reel {
  transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
  transform: scaleY(-1);
}
